/* Global ****************/

* 
{
padding: 0;
margin: 0;    
}


html
{
box-sizing: border-box;
}

:root
{
--dark-theme-bkgd: #181414;
--dark-theme-primary-color:  #E5E4E2;
--dark-theme-secondary-color: #D79AF1;
--dark-theme-font: 400 0.9em "Space Mono", Courier, monospace;
--dark-theme-sidebar-heading: 700 1.2em "Space Mono", Courier, monospace;
--dark-theme-main-heading: 400 1.2em "Space Mono", Courier, monospace;    
}

body
{
background: var(--dark-theme-bkgd);
color: var(--dark-theme-primary-color);   
}

header span
{
font: 400 2em "Jersey 25", sans-serif;
color: var(--dark-theme-primary-color);
}

h1    
{
font: var(--dark-theme-main-heading);
color: var(--dark-theme-primary-color);    
}

h2 
{
font: var(--dark-theme-main-heading);
font-size: 1em;
color: var(--dark-theme-primary-color); 
margin: 25px 0;   
}

p
{
font: var(--dark-theme-font);
color: var(--dark-theme-primary-color);    
}

a
{
color: var(--dark-theme-primary-color);    
text-decoration: none;
}

h2 a:hover
{
color: var(--dark-theme-secondary-color);    
text-decoration: underline;
}

.category-circle
{
display: inline-block;    
width: 8px; 
height: 8px;
border-radius: 3px;    
}

img 
{
width: 24px;
height: 24px;    
}

header
{
display: flex;
flex-direction: row;
justify-content: space-between;  
align-items: center; 
padding: 25px;  
border-bottom: 1px solid #232629;  
}

header menu li
{
display: inline;
list-style-type: none;
padding-right: 25px;
font: 400 0.8em "Space Mono", courier, monospace;     
}

.forum-flex 
{
display: flex;
flex-direction: row;
justify-content: space-around;   
width: 100%;
height: 100vh; 
overflow-y: hidden;
}

.flex-container
{
display: flex;
flex-direction: row;
justify-content: space-between;   
align-items: center;
width: 100%;
height: 100%;
}

.flex-container div:first-of-type
{
width: 80%;
height: 100%;
}

.flex-container div:last-of-type
{
width: 20%;
}

.sidebar
{
width: 20%;   
border-right: 1px solid #232629;  
padding: 25px;
}

.main-content
{
width: 75%;   
}

main header 
{
justify-content: space-between;
width: 75%;   
}

.forum-filter
{
margin-right: 25px;    
}

.signout
{
display: inline-block;    
border: 1px solid var(--dark-theme-primary-color);
border-radius: 10px; 
padding: 5px 12px;   
}

/* Registration ****************/

/* Sign out ****************/

/* Sidebar ****************/

.sidebar menu li 
{
list-style-type: none;    
padding-bottom: 10px;
font: 300 0.8em "Space Mono", courier, monospace;
}



/* Forum ****************/

.forum 
{
padding-bottom: 50px;
}

.forum header
{
width: 97.5%;
}

.forum .topics div ul li
{
display: inline;
list-style-type: none;
font: 300 0.9em "Space Mono", courier, monospace;
}

.topics 
{  
border-bottom: 1px solid #232629;
font: 300 0.9em "Space Mono", courier, monospace;    
padding: 10px 25px;
}

.topics:last-of-type 
{  
border-bottom: none;
}

.topics h2 
{  
margin-bottom: 5px;    
}

.topics .flex-container div 
{
margin-top: 15px;
align-items: center;
}

.topics img
{
vertical-align: middle;
}

.forum-filter select
{
border-bottom: 1px solid var(--dark-theme-primary-color);
background: transparent;
color: var(--dark-theme-primary-color);
outline: transparent;
height: 25px;
}


.forum-filter select[name='categories']
{
margin-right: 10px;    
}

/* Topic ****************/

/* Profile ****************/





