{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include 'partials/header.html' %}
<div class="forum-flex">
{% include 'partials/sidebar.html' %}    
<div class="main-content">
<main>
  <div class="forum">
    <header>
        <h1>Forum</h1> 
        <div class="forum-filter">
            <select name="categories">
                {% for category in categories %}
                   <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <select name="filter">
            <option value="recent">Most recent</option>
            <option value="oldest">Oldest</option>
            </select>   
        </div> 
    </header>
        {% for topics in forum %}
        <div class="topics">
            <h2><a href="{{ url_for('topic', topic_id=topics['Topic'].topic_id)}}">{{ topics['Topic'].title }}</a></h2>
            <div><span class="category-circle" style="background-color: {{ topics['Category'].category_color }};"></span>&nbsp;{{ topics['Category'].name }}</div>
            <div class="flex-container">
            <div>
                <img src="/static/images/{{ topics.image }}" alt="">
                <span><a href="{{ url_for('user_profile', user_id=topics['Topic'].user_id) }}">{{ topics.handle }}</a></span>
            </div>  
            <div>
                <ul>
                    <li>{{ topics['Topic'].likes }} Likes</li>
                    <li>{{ topics['Topic'].views }}  Views</li>
                </ul>
            </div>
            </div>
        </div>
        {% endfor %}
   </div>
  </main>
 </div>
</div>
{% endblock %}