{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include 'partials/header.html' %}
<div class="forum-flex">
{% include 'partials/sidebar.html' %}    
<div class="main-content">
<main>
  <div class="forum">
      <header>
        <h1>TOPIC</h1> 
        <div class="topic-details">  
            <h2>{{ topic['Topic'].title }}</h2>
           <div>
            <span class="category-circle" 
                  style="background-color: {{ category.category_color }};">
            </span>&nbsp;{{ category.name }}
           </div>
        </div> 
    </header>
    <div class="topics">
      <p>{{ topic['Topic'].created_at.strftime('%d/%m/%Y')  }}</p>
      <div class="user-details">
          <p>{{ topic['Topic'].body }}</p>
          <img src="/static/images/{{ topic.image }}" alt="">
          <span><a href="{{ url_for('user_profile', user_id=topic.public_id|replace('-', '')) }}">{{ topic.handle }}</a></span>
       </div>  
       <ul>
        <li><a href="{{ url_for('like_topic') }}"><img src="/static/images/heart.svg" alt=""></a>&nbsp;{{ topic['Topic'].likes }}</li>
        <li>{{ topic['Topic'].views }}  Views</li>
       </ul>
    </div>
    {% for reply in replies %}
        <div class="replies">
           <p class="date-created">{{ reply.Reply.created_at.strftime('%d/%m/%Y') }}</p>      
            <div class="user-details">
                <p>{{ reply.Reply.body }}</p>
                <img src="/static/images/{{ reply.image }}" alt="">
                <span><a href="{{ url_for('user_profile', user_id=topic.public_id|replace('-', '')) }}">{{ reply.handle }}</a></span>
            </div>  
            <ul>  
              <li><a href="{{ url_for('like_reply') }}"><img src="/static/images/heart.svg" alt=""></a>&nbsp;{{ reply.Reply.likes }}</li>
            </ul>
        </div>
     {% endfor %}
     <button type="button" class="reply-button">Reply</button>
   </div>
  </main>
 </div>
</div>
{% endblock %}